.work h1 {
  text-align: center;
  color: #a60fad;
  font-size: 45px;
  font-weight: 900;
}
.work {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.workBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}
.imageDiv {
  overflow: hidden;
  border: solid 4px #a60fad;
  border-radius: 10px;
}
.workBlock img {
  width: 380px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}
.workBlock img:hover {
  transform: scale(1.07);
  transition: 0.9s;
  border: #a60fad 3px solid;
}
