.outAbout {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  gap: 40px;
  padding: 0 0 50px 0;
}
.outAbout-text {
  background: #a60fad;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  padding: 20px;
}
.outAbout h1 {
  text-align: center;
  color: #a60fad;
}
.outAbout h3 {
  color: white;
  font-weight: 800;
}
.outAbout p {
  font-size: 19px;
  font-weight: 300;
  color: white;
}
