#hero {
  background-position: center;
  background-size: cover;
  background: black;
  position: relative;
}
.fonBackround {
  width: 100%;
  opacity: 0.5;
  background-size: cover;
  background-position: center;
}
.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.hero-text {
  position: absolute;
  bottom: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 1200px;
}
.hero-text h2 {
  font-family: "Angkor", serif;
  text-align: center;
  color: white;
  font-family: "Madimi One", sans-serif;
  font-weight: 200;
  text-align: center;
}
.hero-text h1 {
  color: white;
  font-family: "Madimi One", sans-serif;
  font-weight: 700;
  text-align: center;
}
