.admin {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 70px 0;
}
.admin h1 {
  color: #a60fad;
}
.inputs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 37px;
}
.inputs input {
  padding: 15px 25px;
  border: #a60fad solid 3px;
  width: 300px;
  outline: none;
  color: #a60fad;
}
.inputs h5 {
  display: flex;
  align-items: center;
  color: red;
  font-size: 12px;
  display: none;
}
.admin button {
  padding: 10px 20px;
  border: #a60fad solid 3px;
  border-radius: 5px;
  background: transparent;
  color: #a60fad;
}
input::placeholder {
  color: #a60fad;
}
.inputstar {
  display: flex;
  gap: 40px;
}
.admin h3 {
  color: red;
  display: flex;
  align-items: center;
}
.imgInputs::placeholder {
  display: flex;
  justify-content: center;
  padding-left: 8.5pc;
}
.imgInputImg {
  width: 280px;
  height: 310px;
  margin-top: 40px;
}

.imgInputs button {
  position: relative;
  bottom: 50px;
  background: #a60fad;
  color: white;
}
